/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.2em solid black;
  margin-bottom: 2em;
  padding: 0 0 0 0;
}

.moveDown {
  margin: 120px 0 20px 0;
}

p {
  font-size: 16px;
  padding-top: 16px;
}
