<div class="container jumbotron moveDown">
    <h1>This is a header</h1>
    <ul class="main">
        <li><a href="#!/view1">Option 1</a></li>
        <li><a href="#!/view2">Option 2</a></li>
    </ul>
</div>
<div class="container">
    <div class="container">
        <button class="col-xs-3 btn btn-lg btn-primary">Thing 1</button>
        <p class="col-xs-offset-1 col-xs-4">Explanation 1</p>
    </div>
    <div class="container">
        <button class="col-xs-3 btn btn-lg btn-primary">Thing 2</button>
        <p class="col-xs-offset-1 col-xs-4">Explanation 2</p>
    </div>
    <div class="container">
        <button class="col-xs-3 btn btn-lg btn-primary">Thing 3</button>
        <p class="col-xs-offset-1 col-xs-4">Explanation 3</p>
    </div>
    <div class="container">
        <button class="col-xs-3 btn btn-lg btn-primary">Thing 4</button>
        <p class="col-xs-offset-1 col-xs-4">Explanation 4</p>
    </div>
</div>
<div ng-view></div>
</div>